<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will use the builders from SlackNotification job.&#xd;
That is, it will post to my private slack channel &quot;!!!Study!!!&quot;</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.5.2">
      <projectName>SlackNotification</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>