<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will use the publishers from SlackNotification job.&#xd;
That is, it will post to my private slack channel &quot;Building Successful&quot;.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.templateproject.UpdateTransientProperty plugin="template-project@1.5.2"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.5.2">
      <projectName>SlackNotification_templateProject</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
  </publishers>
  <buildWrappers/>
</project>